*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    background-color: skyblue;
    color: black;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    text-transform: lowercase;
    padding: 8px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}

.container {
    display: flex;
    width: 600;
    flex-direction: column;
    gap: 4px;
}

.container label {
    font-weight: 450;
    font-size: 13px;
}

.container input {
    border: none;
    border-bottom: 1px solid black;
    padding: 16px 8px;
    font-size: 18px;
}